<div class="card">
  <div class="card-body">
    <div class="mb-3">
      <form action="/answer" data-turbo="false">
        <input type="text" name="qustion">
        <input type="submit" value="Ask!" >
      </form>
    </div>
  </div>
</div>
